:root {
  /* Paleta de colores - Dark Mode Analytics */
  --bg-primary: #01002b;    /* Azul muy oscuro, casi negro */
  --bg-surface: #1d1d5c;    /* Un tono más claro para elementos elevados */
  --text-main: #E7E0FF;     /* Blanco suave para lectura */
  --text-secondary: #cdbeff; /* Gris para texto secundario */
  --text-muted: #783FCC;    /* Gris para texto secundario */
   --text-mutedt: #773fcc95;    /* Gris para texto secundario */
  --text-mutedt2: #483fcc95;    /* Gris para texto secundario */
  --accent-color: #751CFF;  /* Cian brillante para destacar */
  --accent-hover: #837ad6;  /* Cian más oscuro para interacciones */
  --border-color: #334155;  /* Líneas divisorias sutiles */
  --font: "Readex Pro", sans-serif;
}

.hero{

    margin: 2rem 2rem;
    
    

    display: flex;
    justify-content: space-around;
    height: fit-content;
    align-items: center;

}
.description{
    
    padding: 2rem;
    background-color: var(--bg-surface);
    box-shadow: 0 4px 6px var(--text-mutedt);
    border-radius: 1rem;
    width: 60%;
    height: fit-content;


}

.image-container{

    align-content: center;

    height: fit-content;

}

.hero-image{



  height: 10%;

}