:root {
  /* Paleta de colores - Dark Mode Analytics */
  --bg-primary: #01002b;    /* Azul muy oscuro, casi negro */
  --bg-surface: #000066;    /* Un tono más claro para elementos elevados */
  --text-main: #E7E0FF;     /* Blanco suave para lectura */
  --text-muted: #783FCC;    /* Gris para texto secundario */
  --accent-color: #751CFF;  /* Cian brillante para destacar */
  --accent-hover: #0891b2;  /* Cian más oscuro para interacciones */
  --border-color: #334155;  /* Líneas divisorias sutiles */
  --font: "Readex Pro", sans-serif;
}

/* Estilos específicos del Navbar */
.navbar {

  margin: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  border-radius: 0.5rem;
    box-shadow: 0 4px 6px var(--text-mutedt);

  background-color: var(--bg-surface);

  position: sticky; /* Se mantiene en la parte superior al hacer scroll */
  top: 0;
  z-index: 100;

}


.brand-title {
  font-family: var(--font);
  text-decoration: none;
  color: var(--text-main);
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  letter-spacing: 0.5px;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-item {
    font-family: var(--font);
  color: var(--text-main);
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-item:hover,
.nav-item.active {
  color: var(--accent-color);
}

